
@font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'),
         url('../fonts/livvic-v13-latin-regular.woff') format('woff');
}
  
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: 
         url('../fonts/livvic-v13-latin-600.woff2') format('woff2'),
         url('../fonts/livvic-v13-latin-600.woff') format('woff');
}
 
  @font-face {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), 
         url('../fonts/livvic-v13-latin-700.woff') format('woff'); 
}


*{
box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "livvic" , "areal" , sans-serif;
}


img{
    vertical-align: middle;
    object-fit: cover;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1150px;
}

/* ...........header.......... */


.site-header{
    background-color: #014E56;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 77px;
    padding-bottom: 77px;

}

.site-logo-link{
    display: inline-block;
}





.site-logo{
    display: block;
    transition: tranform 0.3s ease;
}

.site-logo:hover{
    transform: scale(1.2) ;
}


.navbar_list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    /* position: fixed; */
}

.navbar_item{
    margin: 0;
    margin-left: 40px;
    padding: 0;
}


.active{
    margin-left: auto;
}

.navbar_item-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.navbar_item-link:hover{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    transition: color 0.3s ease,
              background-color 0.3s ease;
}

.navbar_item-link:active{
    opacity: 0.6;
}


.header-buton{
    display: inline-block;
    margin-left: auto;
    padding: 9px 33px;
    /* width: 100%; */
    /* max-width: 88px; */
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    text-decoration: none;
    background-color: transparent;
    color:#ffffff;
}

.header-buton:hover{
    color: #002529;
    background-color: #ffffff;
}


.header-buton:active{
    display: inline-block;
    margin-left: auto;
    padding: 9px 33px;
    /* width: 88px; */
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    background-color: transparent;
    color:#ffffff;
    opacity: 0.6;
}

.hamburger{
    display: none;
    border: none;
    background-color: transparent;
}


/* ........header...... */



/* .........m a i n......           */

              
.home-section{
    background-color: #014E56;
    background-image: url("../images/group-1.png");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: calc(50% - 680px) 50px;
}   


.site-main-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 255px;
    background-image: url("../images/Group-2.png");
    background-repeat: no-repeat;
    background-size: 358px 200px;
    background-position: right calc(50% + 250px);
}

.site-title{
    margin: 0;
    padding: 0;
    max-width: 635px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

.span{
   color: #F67E7E;
}

.inner-right{
    max-width: 445px;
}

.inner-span{
    display: inline-block;
    margin-bottom: 79px;
    width: 50px; 
    height: 4px;
    background-color: #79C8C7;
}

.site-inner-text{
    margin: 0;
    padding: 0;
    max-width: 445px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}



                /* servises */


.servises{
    background-color: #012F34;
    /* background-color: black; */
    background-image: url("../images/Group-3.png");
    background-size: 200px 244px;
    background-repeat: no-repeat;
    background-position: calc(50% + 700px) calc(50% + 190px);

}    


.servises-inner{
    display: flex;
    justify-content: space-between;
    /* background-image: ;
    background-size: 200px 244px;
    background-repeat: no-repeat;
    background-position: calc(50% + 700px) calc(50% + 190px); */
    
}


.servises-text{
    margin: 0;
    padding-top: 65px;
    max-width: 445px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

.servises-text::before{
    display: block;
    margin-bottom: 54px;
    max-width: 50px;
    height: 4px;
    background-color: #F67E7E;
    content: "";
}


.servises-list{
    margin: 0;
    padding: 0;
    padding-top: 140px;
    padding-bottom: 140px;
}

.servises-item{
    /* position: relative; */
    display: flex;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style-type: none;
}


.servises-item div{
    margin-left: 23px;
}



.servises-item::before {
    /* position: absolute; */
    /* left: -90px; */
    /* background-position-x: 0px; */
    display: block;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    content: "";
}

.servises-item:nth-child(1)::before{
    background-image: url("../images/experienced.png");
    ;
} 

.servises-item:nth-child(2)::before{
    background-image: url("../images/easy.png");
} 

.servises-item.servises-item:nth-child(3)::before{
    background-image: url("../images/enhanced.png");
} 

.servises-item:nth-child(3){
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-title{
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

.list-text{
    margin: 0;
    padding: 0;
    width: 445px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}



/* -------Stories--Section----- */



.stories{
    background-color: #004047;
    background-image: url("../images/Group-4.png") , url("../images/Group-5.png");
    background-repeat: no-repeat;
    background-size: 147px 100px , 200 px 200px;
    background-position: calc(50% - 600px) 0px , calc(50% + 580px) calc(50% + 378px);
}


/* .stories-inner{
    background-image: ;
    background-repeat: no-repeat;
    background-size: ;
    background-position: ;

} */


.stories-title{
    margin: 0 auto;
    padding-top: 140px;
    width: 100%;
    max-width: 932px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
}


.stories-title span{
    color: #79C8C7;
}

.stores-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 151px;
}

.stories-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stories-item::before{
    display: block;
    margin: 0 auto;
    width: 67px;
    height: 56px;
    background-image: url("../images/stores-before-img.svg");
    background-size: 67px 56px;
    background-repeat: no-repeat;
    background-position: top 10px center;

    content: "";
}


/* .stories-item{
    margin: 0;
    padding: 0;
    background-image: url("../images/stores-before-img.svg");
    background-size: 67px 56px;
    background-repeat: no-repeat;
    background-position: top;
} */



.item-text{
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    max-width: 350px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
}


.items-subtitle{
    margin: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}


.blockquote{
    margin: 0;
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    /* text-decoration: ; */
    color: #ffffff;
}


.stories-img{
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    align-items: center;
}




/* ---------Question--Section----- */





.question{
    background-color: #f67e7e;
    background-image: url("../images/Group-6.png");
    background-repeat: no-repeat;
    background-size: 244px 200px;
    background-position: calc(50% - 645px) calc(50% - 15px); 
}

.question-inner{
    display: flex;
    justify-content: space-around;
    padding: 76px 0;
}

.question-title{
    margin: 0;
    max-width: 504px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}   

.question-link{
    display: inline-block;
    text-decoration: none;
    padding: 10px 32px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px;            
}
    

.question-link:hover{
    background: #79C8C7;
    border-radius: 24px;
    border: 2px solid transparent;
}


.question-link:active{
    /* background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px; */
    opacity: 0.6;
}



/* ---------Footer------ */



.site-footer{
    background-color: #002529;
}


.footer-inner{
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}


.footer-link{
    display: block;
    margin-bottom: 25px;
    transition: tranform 0.3s ease;
}

.footer-link:hover{
    transform: scale(1.2) ;
}

.inner-left-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inner-left-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.inner-left-link:hover{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    transition: color 0.3s ease,
              background-color 0.3s ease;
}


/* .inner-center{

} */

.inner-center-text{
    margin: 0;
    max-width: 445px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px; 
    color: #FFFFFF;
    opacity: 0.6;
}

.right-link{
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 50px;
}

.right-link:nth-child(3){
    margin-right: 0;
}

/* .right-link:hover{
   background-color: #F67E7E;
   color: #F67E7E;
} */


.right-text{
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
}







/* ==============A b o u t========== */




.about{
    background-color: #014e56;
}

.about-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 164px;
}


.about-inner-title{
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #ffffff;
}


.inner-box{
    max-width: 730px;
    padding-bottom: 120px;
}

.inner-box-span{
      display: block;
      max-width: 50px;
      height: 4px;
      margin-bottom: 40px;
      background: #f67e7e;    
}

.about-innet-text{
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px; 
    color: #FFFFFF;
}































@media only screen and (max-width: 1100px) {

    .stories{
        background-image: url("../images/Group-4.png") , url("../images/Group-5.png");
        background-repeat: no-repeat;
        background-size: 147px 100px , 200 px 200px;
        /* background-position: calc(50% - 476px) calc(50% - 643px) , calc(50% + 451px) calc(50% + 695px); */
        background-position: top left , bottom -100px right;
    }

    .stories-title{
        padding-top: 100px;
        margin-bottom: 48px;
        max-width: 591px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    .stores-bottom{
        /* display: block; */
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .stories-list{
        display: block;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
    }

    .stories-item{
        margin-bottom: 48px;
    }

    .item-text{
        max-width: 573px;
        margin-bottom: 16px;
    }

    .blockquote{
        margin-bottom: 16px;
    }
}



@media only screen and (max-width: 1020px) {

    .site-main-inner{
        background-position: center 310px;
    }

    .home-section{
        background-image: none;
        
    }

    .site-title{
        font-size: 64px;
        line-height: 54px;
    }

    .inner-span{
        display: none;
    }
    
}


@media only screen and (max-width: 1000px){
    .servises-inner{
        /* position: relative; */
        display: block;
        padding-top: 136px;
        margin-left: 98px;
    }


    .servises{
        background-image: url("../images/Group-3.png");
        background-size: 200px 244px;
        background-repeat: no-repeat;
        background-position: top right -100px;
    }

    .servises-text{
        max-width: 445px;
        padding-top: 0;
        padding-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
    }

    .servises-list{
        padding-top: 0;
    }

    

    .list-text{
        max-width: 578px;
        opacity: 0.8;
    }
}


@media only screen and (max-width: 870px) {

    .header_inner{
        padding-top: 50px;
        padding-bottom: 50px;
    
    }

    .site-main-inner{
        padding-top: 45px;
    }
    
}



@media only screen and (max-width: 840px) {

    .site-main-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 56px;
        padding-bottom: 170px;
        background-position: bottom -100px center;
    }

    .site-title{
        padding-bottom: 24px;
        text-align: center;
    }
    

    .site-inner-text{
        text-align: center;
    }
}

@media only screen and (max-width: 795px) {
    .stories-title{
        max-width: 327px; 
        padding-top: 140px;
      } 
}

@media only screen and (max-width: 710px){

    .servises-inner{
        margin-left: 0;
        padding-top: 64px;
    }

    .servises-text{
        max-width: 240px;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
    }

    .servises-item{
        /* max-width: 327px; */
        text-align: -webkit-center;
        /* position: relative; */
        display: block;
        margin: 0;
        margin-bottom: 48px;
        padding: 0;
        list-style-type: none;
    }

    .servises-item div{
        margin-left: 0;
    }

    .list-title{
       margin-bottom: 8px;
    }

    /* .list-text{
         width: 100%;
      
    } */
}


@media only screen and (max-width: 650px) {

    /* .site-main-inner{
        background-size: contain;
    } */

    .stories{
        background-image: url("../images/Group-4.png") , url("../images/Group-5.png");
        background-repeat: no-repeat;
        background-size: 147px 100px , 200 px 200px;
        /* background-position: calc(50% - 250px) calc(50% - 656px) , calc(50% + 225px) calc(50% + 707px); */
        background-position: top left , bottom -100px right;
    }
    
    .site-title{
        font-size: 40px;
        line-height: 40px;
    }

    .site-inner-text{
        font-size: 15px;
        line-height: 28px;
    }

    .stories-title{
      max-width: 327px; 
      padding-top: 140px;
    }

    .item-text{
      max-width: 327px;
    }
    
}





@media only screen and (max-width: 600px) {
    .site-navbar{
       display: none;
    }

    .header-buton{
        display: none;
    }

    .hamburger{
        display: inline-block;
    }
    
}





@media only screen and (max-width: 500px){
    .site-title{
        padding-bottom: 16px;
        max-width: 327px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
    }

    .inner-right{
        max-width: 327px;
        /* padding-bottom: 197px; */
    }

    .site-inner-text{
        max-width: 327px;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 15px;
        line-height: 28px;
    }

    .list-text{
        width: 327px;
    }
}


@media only screen and (max-width: 450px){
    .inner-right{
        max-width: 327px;
        padding-bottom: px;
    }
}


@media only screen and (max-width: 400px){
    .site-main-inner{
        background-image: url("../images/Group-2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right calc(50% + 250px);
    }
    
}

@media only screen and (max-width: 390px){
    .list-text{
        width: 250px;
    }
}